@font-face {
  font-family: Poppins-Thin;
  src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins-Regular, sans-serif;
}

.banner {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 40vh;
  flex-wrap: wrap;
}
.banner div:nth-of-type(1) {
  order: 1;
  width: 50%;
}
.banner div:nth-of-type(2) {
  order: 3;
}
.banner div:nth-of-type(3) {
  order: 2;
}
.banner .logo img {
  height: 100px;
  width: 200px;
  display: block;
  margin: 10px 1px;
}
.banner .linklogos {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}
.banner .linksvg {
  height: 30px;
  width: 30px;
  flex-direction: column;
}
.banner .slogan {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-family: Poppins-ExtraBold;
  text-align: center;
  padding: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5A6774;
  flex: 1;
}
.info .aboutus {
  background-color: #5A6774;
  color: #fff;
  padding: 3vh 0;
  width: 100vw;
}
.info .aboutus h1 {
  text-align: center;
  font-family: Poppins-ExtraBold;
}
.info .aboutus li {
  list-style: none;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
.info .aboutus li:nth-of-type(2) {
  font-family: Poppins-Medium;
  font-size: 25px;
}

.deliverytypes {
  background-color: #fff;
  margin: 0px 5%;
  padding: 20px 0;
}
.deliverytypes ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.deliverytypes li {
  list-style: none;
  color: #5A6774;
  text-align: center;
  width: 350px;
}
.deliverytypes .title {
  padding: 20px;
  font-size: 20px;
  font-family: Poppins-ExtraBold;
  text-align: center;
}

.contactus {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #5A6774;
  flex: 1;
  padding: 3vh;
}
.contactus h1 {
  font-family: Poppins-ExtraBold;
  /* padding: 1.5% 0px; */
  font-size: 29px;
  text-align: center;
}
.contactus li {
  list-style: none;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

/* gallery styling */
.gallery {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery img {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 90px;
  height: 90px;
  margin: 5px 3px;
}/*# sourceMappingURL=style.css.map */