@font-face{ font-family: Poppins-Thin;
    src: url('fonts/Poppins/Poppins-Thin.ttf');
}

@font-face{ font-family: Poppins-Regular;
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face{ font-family: Poppins-ExtraBold;
    src: url('fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Poppins-Regular, sans-serif;
    margin-bottom: 50px;
    background-color: rgb(90, 103, 116);
    
}

.logo img{
    height:100px ;
    width: 150px;
    display: block;
    margin: 15px 35px ;
}

/* .linklogos {
    display: flex;
    flex-direction: row
} */

.fblogo svg{
    height: 30px;
    width: 30px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
  
}

.whatsapplogo svg{
    height: 30px;
    width: 30px;
    margin: 20px;
    margin-top: 0px;
    flex-direction: column;
    
}


.banner{
    background-image: url(images/vanbackground2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    padding-top: 30px;
    padding-bottom: 75px;
    display: flex;

    
}

.slogan{
}

.slogan p{
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;

    
}

.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(90, 103, 116);
    padding-bottom: 20px;
    /* box-shadow:  3px 3px 10px ; */
    color: #fff;
    margin: 50px 0;
}

.contactus h1{
    padding: 1.5% 0px;
    font-size: 50px;
    font-family: Poppins-ExtraBold;
}
.contactus li{
    list-style: none;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.deliverytypes{
    /* margin: 10%; */
    background-color:#fff;
    /* border-radius: 15px; */
   
    padding: 0 50px ;
    padding-bottom: 50px;
    /* box-shadow: 3px 3px 10px ;  */
    
    
}

.deliverytypes ul{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-row: repeat(4, minmax(0, 1fr));
    /* border-radius: 15px; */
    /* border: solid #000 1px; */

}
.deliverytypes li{
    list-style: none;
    padding: 20px;
    color: rgb(90, 103, 116);

}

.deliverytypes .title{
    padding: 20px;
    align-self: center;
    font-size: 29px;
    text-align: center;
    font-family: Poppins-ExtraBold;
}

.deliverytypes .desc{
    text-align: center;
}







