@font-face{ font-family: Poppins-Thin;
    src: url('fonts/Poppins/Poppins-Thin.ttf');
}

@font-face{ font-family: Poppins-Regular;
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face{ font-family: Poppins-ExtraBold;
    src: url('fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html,body{
    min-width: 100vw;
}

body{
    font-family: Poppins-Regular, sans-serif;
    margin-bottom: 50px;
    background-color: rgb(90, 103, 116);
    position: absolute;
}

.banner{
    background-image: url(images/vanbackground2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    padding-top: 30px;
    padding-bottom: 75px;
    display: flex;
}

.banner{
    flex-wrap: wrap;
    
}
.banner div:nth-of-type(1){
    order: 1;
    width: 50%;
}
.banner div:nth-of-type(2){
    order: 3;
}
.banner div:nth-of-type(3){
    order: 2;
    
    
}
.logo img{
    height:100px ;
    width: 150px;
    display: block;
    margin: 15px 35px ;
}

.linklogos{
    display: flex;
    flex-direction: column;
    margin-left: auto;    
    margin-right: 20px;
}
.fblogo svg{
    height: 30px;
    width: 30px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;  
}

.whatsapplogo svg{
    height: 30px;
    width: 30px;
    margin: 20px;
    margin-top: 0px;
    flex-direction: column;
}

.slogan{
    width: 100%;
    
}

.slogan p{
    color: #fff;
    font-size: 50px;
    font-family: Poppins-ExtraBold;
    margin-top: 75px;
    text-align: center;
    
    
}


.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(90, 103, 116);
    padding-bottom: 20px;
    color: #fff;
    margin: 50px 0;
}

.contactus h1{
    padding: 1.5% 0px;
    font-size: 50px;
    font-family: Poppins-ExtraBold;
}
.contactus li{
    list-style: none;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.deliverytypes{
    background-color:#fff;
    padding: 0 50px ;
    padding-bottom: 50px;
}

.deliverytypes ul{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
   
}


.deliverytypes li{
    list-style: none;
    padding: 20px;
    color: rgb(90, 103, 116);
    text-align: center;
    width: 33%;
}

.deliverytypes .title{
    padding: 20px;
    font-size: 25px;
    font-family: Poppins-ExtraBold;
    text-align: center;
}
.deliverytypes{
    font-size: 15px;
}
/* Extra Extra small devices (phones 400px and down) */
@media only screen and (max-width: 400px){
    .contactus h1{
        font-size: 35px;
        .banner{
            flex-wrap: wrap;
            
        }
        
        .banner p{
            font-size: 30px;
            text-align: center;
            margin: 0;
        }
        
        .contactus h1{
            font-size: 29px;
        }
        .contactus li{
            font-size: 20px;
        }
        .deliverytypes{
            padding: 0 15px;
        }
        .deliverytypes ul{
            flex-direction: column;
            margin: 0;
        }
        .deliverytypes li{
            width: 100%;
        }
        .deliverytypes .title{
           
            text-align: center;
        }
        .deliverytypes .desc{
            font-size: 20px;
        }
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner{
        flex-wrap: wrap;
        
    }
    .banner div:nth-of-type(1){
        order: 1;
        width: 40%;
    }
    .banner div:nth-of-type(2){
        order: 3;
    }
    .banner div:nth-of-type(3){
        order: 2;
        margin-left: auto;
    }
    
    .banner p{
        font-size: 30px;
        text-align: center;
        margin: 0;
    }
    
    .contactus h1{
        font-size: 31px;
    }
    .contactus li{
        font-size: 20px;
    }
    .deliverytypes{
        padding: 0 15px;
    }
    .deliverytypes ul{
        flex-direction: column;
        margin: 0;
    }
    .deliverytypes li{
        width: 100%;
    }
    .deliverytypes .title{
       
        text-align: center;
    }
    .deliverytypes .desc{
        font-size: 20px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    

}








